# Dependencies
node_modules/

# Build output
dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Vite
vite.config.ts.timestamp-*

# TypeScript
*.tsbuildinfo
node_modules/.tmp/

# pnpm
pnpm-debug.log*

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
